# Flutter
.dart_tool/
.packages
.pub/
build/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies

.env
.env.*
!.env.example
playvision_ai/test.mp4
playvision_ai/yolov8n.pt
