# Flutter
.dart_tool/
.packages
.pub/
build/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies

.env
.env.*
!.env.example
playvision_ai/*.mp4
playvision_ai/*.pt
playvision_ai/__pycache__/
